.header {
	display: table;
	width: 100%;
	//height: 390px;
	background-color: #086494;
	background-image: url(../../img/bg-nature.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}
