/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/noto */
/*@import "http://fonts.fontstorage.com/import/noto.css";*/
/*
	Noto Sans, 400, 400 italic, 700, 700 italic
*/
@font-face {
	font-family: 'Noto Sans';
	src: url("./font/NotoSans-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url("./font/NotoSans-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
.cbalink {
	display: none;
}

body {
	margin: 0;
	font-size: 1.6rem;
	font-family: "Noto Sans", sans-serif;

}

html, body {
	height: 100%;
	min-width: 320px;
}
p {
    font-size: 16px;
    line-height: 28px;
}
